/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    yerkes-gencore/bcl2fastq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // ////////////////////////////////////////////////////
    // /* --              bcl2fastq                   -- */
    // ////////////////////////////////////////////////////

    // Path on sblab to run directory holding bcl files
    run_dir = "" 
    
    // Separate multiple email addresses by commas if desired
    emails = "kathryn.pellegrini@emory.edu"
    
    /* 
     * Optional: manually specify sample sheets to use and output labels for files
     * if sample sheets are specified here, there should be a label too
     * E.g. sample_sheets = ["230331-B_p23063-demux.csv": "second_extraction",
     *                       "230331-B_p23063-demux-original.csv": "original_extraction"]
     * The script can run without specifications, in which case it will use all *demux*.csv ('demux' is case insensitive)
     * files as sample sheets and assign random numbers to the output folders
     * E.g. sample_sheets = []
     */
    sample_sheets = []

    // number of allowed mismatches per index (default 1)
    // the script will attempt to re-execute bcl2fastq with this set to 0 if it fails the first attempt
    barcode_mismatches = 1

    // ////////////////////////////////////////////////////
    // /* --          RESOURCE USE                    -- */
    // ////////////////////////////////////////////////////

    // delay workflow start in case you want to save resources. In hours
    delay_start = 0

    // These parameters can likely stay consistent from run to run, but may need occasional tweaking
    // maximum time to wait for RTAComplete file to appear (calculated after delay_start). In hours
    max_wait = 72
    
    // How often to check for RTAComplete file. In minutes
    wait_interval = 10
    
    // Remove temporary working direcotries on successful completeion (failed runs will not be deleted and can be resumed)
    cleanup = true
    
    // Maximum concurrent processes of bcl2fastq
    maxForks = 1

    // Compression level of fastq outputs, from 1-9 (default 4)
    compression = 4
    
    // Option to turn of md5sums if it's not needed, it can be slow
    compute_md5sums = true

    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        docker.registry        = 'quay.io'
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        podman.registry        = 'quay.io'
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    test      { includeConfig 'conf/test.config'      }
    //test_full { includeConfig 'conf/test_full.config' }
}



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
    name            = 'yerkes-gencore/bcl2fastq'
    author          = """Derrik Gratz"""
    homePage        = 'https://github.com/yerkes-gencore/bcl2fastq'
    description     = """bcl2fastq extraction"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0dev'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
// includeConfig 'conf/modules.config'

notification {
    enabled = true
    to = params.emails
}