/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run yerkes-gencore/bcl2fastq -profile test

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    params.run_dir = "/yerkes-cifs/runs/analyst/derrik/extractions_nextflow/test/210215_A00945_0089_AHWYYVDRXX/"
    params.sample_sheets = ['/yerkes-cifs/runs/analyst/derrik/extractions_nextflow/test/210215_A00945_0089_AHWYYVDRXX/230519-A_Lane1_p23060-demux.csv': 'test1']
    params.compute_md5sums = false
    params.emails = 'dgrat@emory.edu'
    notification.enabled = true
}
